[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Hacky implementation of the MFM asyncCA in Golang using Termbox.
[access "refs/*"]
	owner = group user/Alan Zaffetti (ajzaff)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Alan Zaffetti (ajzaff)
	label-Verified = -1..+1 group user/Alan Zaffetti (ajzaff)
	push = group user/Alan Zaffetti (ajzaff)
	read = group user/Alan Zaffetti (ajzaff)
	rebase = group user/Alan Zaffetti (ajzaff)
	removeReviewer = group user/Alan Zaffetti (ajzaff)
	submit = group user/Alan Zaffetti (ajzaff)
[access "refs/heads/*"]
	create = group user/Alan Zaffetti (ajzaff)
	push = +force group user/Alan Zaffetti (ajzaff)
	pushMerge = group user/Alan Zaffetti (ajzaff)
	read = group user/Alan Zaffetti (ajzaff)
[access "refs/tags/*"]
	push = group user/Alan Zaffetti (ajzaff)
	push = +force group user/Alan Zaffetti (ajzaff)
